@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900');
@import "~bootstrap/scss/bootstrap";


.home{
    width: 90%;
    margin: 7% auto;
    text-align: center;

    .bgBlack{
        z-index: 1000000;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #0000008c;
        width: 100%;
        height: 100%;
        .sign-popup{
            z-index: 10;
            height: 60%;
            width: 60%;
            top: 20%;
            left: 20%;
            bottom: 0;
            right: 0;
            position: absolute;
            background-color: #1e2c2d;
            border-radius: 8px;
            box-shadow: 3px 3px 8px 5px #232523;
            // flex-direction: column;
            // align-items: center;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 60% 40%;
            grid-template-areas: 'stuff pic';
            #close{
                color: #fe8264;
                position: absolute;
                left: 97%;
                top: 2.5%;
                font-family: 'Heebo', sans-serif;
                font-size: 25px;
                font-weight: 700;
                cursor: pointer;
            }
            .stuffContainer{
                .join{
                    overflow: scroll;
                    color: wheat;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    /* height: 70%; */
                    height: 480px;
                    position: relative;
                    top: 24px;
                    .join-div{
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }
                    button{
                        background: linear-gradient(114deg, #4cddbd, #06f286);
                        color: #426264;
                        transition: all ease-in 0.3s;
                        border: none;
                        display: block;
                        font-size: 16px;
                        font-size: 90%;
                        font-weight: 700;
                        text-transform: capitalize;
                        border-radius: 4px;
                        /* color: #fff; */
                        padding: 15px 27px;
                        /* background: rgba(255, 255, 255, 0.349); */
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        font-family: 'Heebo', sans-serif;
                    }
                    #join-btn{
                        position: relative;
                        top: -11px;
                    }
                    #join-btn:hover{
                        // padding: 17px 19px;
                        letter-spacing: 4px;
                    }
                    p{
                        width: 65%;
                        height: 45px;
                        text-transform: capitalize;
                        font-size: 25px;
                        font-family: 'Heebo', sans-serif;
                        font-weight: 500;
                        color: #e0e0e0;
                        background-color: #233536;
                        border-top: 5px solid #fe8264;
                        border-right: 5px solid #fe8264;
                        border-radius: 4px;
                    }
                }
                grid-area: stuff;
                form{
                    z-index: 10;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    position: relative;
                    bottom: 60px;
                    input{
                        align-items: center;
                        width: 65%;
                        background-color: #233536;
                        color: white;
                        border-bottom: 3px solid #fe8264;
                        border-radius: 4px 4px 4px 4px;
                        border: none;
                        border-bottom: 5px solid #fe8264;
                        height: 45px;
                        font-size: 18px;
                        border-left: 3px solid #fe8264;
                        text-transform: capitalize;
                        font-family: 'Heebo', sans-serif;
                        font-weight: 500;
                        letter-spacing: 1.5px;
                        padding: 0 25px;
                    }
                    input:focus{
                        outline: none;
                    }
                    button{
                        background: linear-gradient(114deg, #4cddbd, #06f286);
                        color: #426264;
                        transition: all ease-in 0.3s;
                        border: none;
                        display: block;
                        font-size: 16px;
                        font-size: 90%;
                        font-weight: 700;
                        text-transform: capitalize;
                        border-radius: 4px;
                        /* color: #fff; */
                        padding: 15px 17px;
                        /* background: rgba(255, 255, 255, 0.349); */
                        letter-spacing: 3px;
                        text-transform: uppercase;
                        font-family: 'Heebo', sans-serif;
                    }
                    button:hover{
                        // padding: 17px 19px;
                        letter-spacing: 4px;
                    }
                    button:focus{
                        outline: none;
                    }
                    p{
                        margin: 0;
                        line-height: 0;
                    }
                }
                p{
                    z-index: 10;
    
                }
                button{
                    z-index: 10;
    
                }
            }
            .stuffImg{
                grid-area: pic;
                background-image: url('/assets/room/meeting.png');
                // border-left: 1px solid white;
                background-position: center;
                background-size: 90%;
                background-repeat: no-repeat;
                background-position-y: bottom;
                h2{
                    position: relative;
                    top: 44px;
                    font-size: 41px;
                    letter-spacing: 7px;
                    font-family: 'Heebo', sans-serif;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 500;
                    opacity: .8;
                    span{
                        color: #ff6641;
                        font-size: 125%;
                        padding: 0 6px;
                        opacity: 1;
                        font-weight: 900;
                        opacity: 1;
                    }
                }
                h3{
                    position: relative;
                    top: 29px;
                    left: 3%;
                    font-size: 86px;
                    letter-spacing: 22px;
                    font-family: 'Heebo', sans-serif;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
  

    }

}
    h2{
        font-family: 'Heebo', sans-serif;
        font-weight: 400;
        font-size: 66px;
        color: rgb(68, 68, 68);
    }
    #web-flow-title{
        margin: 0;
    }
    #web-flow{
        margin: 0;
        display: flex;
        height: 35vh;
        justify-content: space-around;
        align-items: center;
        div{
            text-align: center;
            svg:nth-child(2){
                position: relative;
                left: 3%;
            }
            h3{
                font-family: 'Heebo', sans-serif;
                font-weight: 100;
                font-size: 36px;
            }
            p{  
                width: 80%;
                color: #7B8694;
                font-family: "Nunito", Sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.67em;
                margin: 0px 0px 0px 0px;
                align-self: center;
                text-align: center;
                order: 3;
                margin: auto;
                padding: 0;
            }
        }
        img{
            position: relative;
            top: -30%;
        }
        img:first-of-type{
            position: relative;
            top: -32%;
        }

    }
    #services-1{
        margin:auto;
        margin-top: 15%;
        display: grid;
        grid-template-columns: 35% 35%;
        grid-template-rows: 100%;
        grid-template-areas: 'text pic';
        width: 90%;
        justify-content: space-around;
        align-items: center;

        .container{
            background: url('/assets/home/illu-l.png');
            width: 61%;
            height: 100vh;
            position: absolute;
            right: 0;
            background-repeat: no-repeat;
            // background-position-x: 100%;
            margin: 0;
            overflow-x: hidden;
            opacity: .5;
            opacity: .8;
            z-index: 0;
        }

        .services-text{
            grid-area: text;
            h2, h3{
                font-family: 'Heebo', sans-serif;
                font-weight: 500;
                font-size: 45px;
                color: rgb(68, 68, 68);
                margin:0;
                text-transform: capitalize;
                text-align: left;
            }
            p{
                color: #7B8694;
                font-family: "Nunito", Sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.97em;
                margin: 0px 0px 0px 0px;
                align-self: center;
                text-align: left;
                order: 3;
                margin: auto;
                margin-top: 2%;
                padding: 0;
            }
            a{
                transition: all ease-in-out 0.3s;
                color: #ffffff;
                background: #B8F1A3;
                font-family: 'Heebo', sans-serif;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                border: 1px solid #B8F1A3;
                border-radius: 5px 25px 25px 25px;
                padding: 18px 58px 18px 58px;
                text-decoration: none;
                position: relative;
                top: 50px;
                left: -29.5%;
                box-shadow: 0px 8px 16px 0px #b8f1a34d;
                cursor: pointer;
                letter-spacing: 1.3px;
                background: linear-gradient(114deg,#4cddbd,#06f286);
                z-index: 1;
                span{
                    text-shadow: 0px 0px 20px #6e9162;
                }
            }
            a:before{
                position: absolute;
                content: "";
                display: block;
                pointer-events: none;
                transition: all .2s linear;
                transform-origin: 0 0;
                background-image: radial-gradient(ellipse at 110% 130%, #fff, rgba(255, 255, 255, 0) 80%);
                background-position-y: 0;
                background-repeat: no-repeat;
                top: 0px;
                left: 5%;
                // top: 32px;
                // left: 20.5%;            
                margin-left: -80px;
                width: 100px;
                height: 100px;
                transform: rotate(-49deg) translateX(-50%);
                opacity: 0.2;
                border-radius: 10px;
            }
            a:hover:before{
                // background: #64fe7a;
                // border: 1px solid #64fe7a;
                // box-shadow: 0px 8px 16px 0px #64fe7a33;
                left: 73%;
                top: 0px;
                border-radius: 5px;
                opacity: 0.6;
            }
            a:hover{
                padding: 20px 60px 20px 60px;
            }
            a:focus{
                border: none;
                outline: none;
            }
        }
        .services-pic{
            grid-area: pic;
            img{
                width: 100%;
            }
        }
    }
    #services-2{
        margin:auto;
        margin-top: 15%;
        display: grid;
        grid-template-columns: 35% 35%;
        grid-template-rows: 100%;
        grid-template-areas: 'pic text';
        width: 90%;
        justify-content: space-around;
        align-items: center;

        .container2{
        background: url('/assets/home/illu-r.png');
        width: 91%;
        height: 100vh;
        position: absolute;
        left:0;
        background-repeat: no-repeat;
        background-position-x: 0;
        margin: 0;
        overflow-x: hidden;
        opacity: .5;
        opacity: .8;
        }

        .services-text{
            grid-area: text;
            h2, h3{
                font-family: 'Heebo', sans-serif;
                font-weight: 500;
                font-size: 45px;
                color: rgb(68, 68, 68);
                margin:0;
                text-transform: capitalize;
                text-align: left;
            }
            p{
                color: #7B8694;
                font-family: "Nunito", Sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.97em;
                margin: 0px 0px 0px 0px;
                align-self: center;
                text-align: left;
                order: 3;
                margin: auto;
                margin-top: 2%;
                padding: 0;
            }
            a{
                transition: all ease-in-out 0.3s;
                color: #ffffff;
                background: #B8F1A3;
                font-family: 'Heebo', sans-serif;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                border: 1px solid #B8F1A3;
                border-radius: 5px 25px 25px 25px;
                padding: 18px 58px 18px 58px;
                text-decoration: none;
                position: relative;
                top: 50px;
                left: -29.5%;
                box-shadow: 0px 8px 16px 0px #b8f1a34d;
                cursor: pointer;
                letter-spacing: 1.3px;
                background: linear-gradient(114deg,#4cddbd,#06f286);
                z-index: 0;
                span{
                    text-shadow: 0px 0px 20px #6e9162;
                }
            }
            a:before{
                position: absolute;
                content: "";
                display: block;
                pointer-events: none;
                transition: all .2s linear;
                transform-origin: 0 0;
                background-image: radial-gradient(ellipse at 110% 130%, #fff, rgba(255, 255, 255, 0) 80%);
                background-position-y: 0;
                background-repeat: no-repeat;
                top: 0px;
                left: 5%;
                // top: 32px;
                // left: 20.5%;            
                margin-left: -80px;
                width: 100px;
                height: 100px;
                transform: rotate(-49deg) translateX(-50%);
                opacity: 0.2;
                border-radius: 10px;
            }
            a:hover:before{
                // background: #64fe7a;
                // border: 1px solid #64fe7a;
                // box-shadow: 0px 8px 16px 0px #64fe7a33;
                left: 73%;
                top: 0px;
                border-radius: 5px;
                opacity: 0.6;
            }
            a:hover{
                padding: 20px 60px 20px 60px;
            }
        }
        .services-pic{
            grid-area: pic;
            img{
                width: 110%;
            }
        }
    }


    #carousel-section{

        margin-top:17%;
        h2{
            margin-bottom: 3%;
        }
        #gr-sp{
            margin-bottom: 3%;
        }
        #carousel{
            background: url('/assets/home/cloud.png');
            height: 60vh;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 61%;
            margin: auto; 
            
        .carousel-inner{
            background: url('/assets/home/cutestars.png');
            background-position: center;
            background-repeat: no-repeat;
            }
        .carousel-indicators {
            bottom: -30px;
            li{
                background-color: #0ebfaa;
            }
        }


        }
        .CI{
            height:40vh;
            display: grid;
            margin-top: 10%;
            grid-template-rows: 70% 30%;
            grid-template-columns: 100%;
            grid-template-areas: 'text'
                                'img';
            
            #slider-text{
                grid-area: text;
                line-height: 80px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                font-family: 'Heebo', sans-serif;
                font-weight: 500;
                color: white;
                font-size: 20px;
            }
            #slider-img{
                grid-area: img;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

            svg{
                margin-bottom: 0%;
                position: relative;
                top: -11%;
                width: 7%;        }

            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            p{
                width:80%;
                margin:auto;
                line-height: 30px;
                margin-bottom: 2%;
                font-style: italic;
            }
            h4{
                font-weight: 300;
                font-size: 22px;
            }
            h5{
                font-weight: 300;
                font-size: 20px;

            }
            
        }
    }
}
