@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900');

.home{
    width: 90%;
    margin: 7% auto;
    text-align: center;
    h2{
        font-family: 'Heebo', sans-serif;
        font-weight: 400;
        font-size: 66px;
        color: rgb(68, 68, 68);
    }
    #web-flow-title{
        margin: 0;
    }
    #web-flow{
        margin: 0;
        display: flex;
        height: 35vh;
        justify-content: space-around;
        align-items: center;
        div{
            text-align: center;
            svg:nth-child(2){
                position: relative;
                left: 3%;
            }
            h3{
                font-family: 'Heebo', sans-serif;
                font-weight: 100;
                font-size: 36px;
            }
            p{  
                width: 80%;
                color: #7B8694;
                font-family: "Nunito", Sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.67em;
                margin: 0px 0px 0px 0px;
                align-self: center;
                text-align: center;
                order: 3;
                margin: auto;
                padding: 0;
            }
        }
        img{
            position: relative;
            top: -30%;
        }
        img:first-of-type{
            position: relative;
            top: -32%;
        }

    }
    #services-1{
        margin:auto;
        margin-top: 15%;
        display: grid;
        grid-template-columns: 35% 35%;
        grid-template-rows: 100%;
        grid-template-areas: 'text pic';
        width: 90%;
        justify-content: space-around;
        align-items: center;


        .services-text{
            grid-area: text;
            h2, h3{
                font-family: 'Heebo', sans-serif;
                font-weight: 500;
                font-size: 45px;
                color: rgb(68, 68, 68);
                margin:0;
                text-transform: capitalize;
                text-align: left;
            }
            p{
                color: #7B8694;
                font-family: "Nunito", Sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.97em;
                margin: 0px 0px 0px 0px;
                align-self: center;
                text-align: left;
                order: 3;
                margin: auto;
                margin-top: 2%;
                padding: 0;
            }
            a{
                transition: all ease-in-out 0.3s;
                color: #ffffff;
                color: #7B8694;
                color: rgb(15, 42, 12);
                background: #B8F1A3;
                font-family: 'Heebo', sans-serif;
                font-size: 14px;
                font-weight: 600;
                text-transform: capitalize;
                border: 1px solid #B8F1A3;
                border-radius: 50px 50px 50px 50px;
                padding: 18px 58px 18px 58px;
                text-decoration: none;
                position: relative;
                top: 50px;
                left: -34%;
                box-shadow: 0px 8px 16px 0px #b8f1a34d;
                cursor: pointer;
                span{
                    text-shadow: 0px 0px 20px #6e9162;
                }
            }
            a:hover{
                background: #64fe7a;
                border: 1px solid #64fe7a;
                box-shadow: 0px 8px 16px 0px #64fe7a33;
            }
        }
        .services-pic{
            grid-area: pic;
            img{
                width: 100%;
            }
        }
    }
    #services-2{
        margin:auto;
        margin-top: 15%;
        display: grid;
        grid-template-columns: 35% 35%;
        grid-template-rows: 100%;
        grid-template-areas: 'pic text';
        width: 90%;
        justify-content: space-around;
        align-items: center;


        .services-text{
            grid-area: text;
            h2, h3{
                font-family: 'Heebo', sans-serif;
                font-weight: 500;
                font-size: 45px;
                color: rgb(68, 68, 68);
                margin:0;
                text-transform: capitalize;
                text-align: left;
            }
            p{
                color: #7B8694;
                font-family: "Nunito", Sans-serif;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                line-height: 1.97em;
                margin: 0px 0px 0px 0px;
                align-self: center;
                text-align: left;
                order: 3;
                margin: auto;
                margin-top: 2%;
                padding: 0;
            }
            a{
                transition: all ease-in-out 0.3s;
                color: #ffffff;
                color: #7B8694;
                color: rgb(15, 42, 12);
                background: #B8F1A3;
                font-family: 'Heebo', sans-serif;
                font-size: 14px;
                font-weight: 600;
                text-transform: capitalize;
                border: 1px solid #B8F1A3;
                border-radius: 50px 50px 50px 50px;
                padding: 18px 58px 18px 58px;
                text-decoration: none;
                position: relative;
                top: 50px;
                left: -34%;
                box-shadow: 0px 8px 16px 0px #b8f1a34d;
                cursor: pointer;
                span{
                    text-shadow: 0px 0px 20px #6e9162;
                }
            }
            a:hover{
                background: #64fe7a;
                border: 1px solid #64fe7a;
                box-shadow: 0px 8px 16px 0px #64fe7a33;
            }
        }
        .services-pic{
            grid-area: pic;
            img{
                width: 100%;
            }
        }
    }
}