
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900');
@import "~bootstrap/scss/bootstrap";

.header{
    color: white;
    background-image: url('/assets/headerbg3.png');
    height: 110vh;
    background-repeat: no-repeat;
    background-size: 114.5%;
    background-position: top;

    z-index: 999;
    opacity: 1;
    .hdr-dimond{
        height: 430px;
        width: 121px;
    }
    #hdr-dimond1{
        position: absolute;
        top: 40%;
        left: 1%;
    }
    #hdr-dimond2{
        position: absolute;
        top: 50%;
        left: 4%;
    } 
    #hdr-dimond3{
        position: absolute;
        top: 60%;
        left: 7%;
    }
    h1{
        margin: 0;
    }
    div{
        font-family: 'Heebo', sans-serif;
        position: absolute;
        top: 37%;
        left: 19.8%;

        h1{
            font-size: 70px;
            text-transform: none;
            font-weight: 500;
            color: #fff;
            margin: 0;
            line-height: 1.1;
        }
        h2{
            font-size: 70px;
            font-weight: 500;
            margin: 0 0 14px;
            display: block;
            color: #fff;
            text-transform: none;
            padding: 0;
            line-height: 1.1;
        }
        p{
            width: 62%;
            text-align: left;
            color: #fff;
            margin: 24px 0 0;
            font-size: 22px;
            margin-bottom: 30px;
            line-height: 36px;
        }
    }
    nav{
        display: grid;
        width: 72.5%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "a b";
        .bgBlack{
            z-index: 1000000;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #0000008c;
            width: 100%;
            height: 100%;
            .sign-popup{
                height: 75%;
                width: 35%;
                display: flex;
                top: 15%;
                left: 30%;
                bottom: 0;
                right: 0;
                position: absolute;
                background-color: #d1ffdd;
                border-radius: 8px;
                box-shadow: 0px 2px 8px #172f19;      
                flex-direction: column;
                // justify-content: space-evenly;
                align-items: center; 
                form{
                    height: 60%;
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin-top: 5%;
                    input{
                        height: 22%;
                        margin-top: 10%;
                        border-radius: 0.55rem;
                    }
                    button{
                        cursor: pointer;
                        border-radius: 0.55rem;
                        height: 18%;
                        margin-top: 5%;
                        background-color: chocolate;
                        border: 0;
                        border-bottom: 4px solid #364838;
                        text-transform: uppercase;
                        font-size: large;
                        font-weight: 500;
                        color: #dcffe5;
                    }
                }     
                h2{
                    font-size: 3rem;
                    color: #364838;
                    text-transform: uppercase;
                    margin-top: 10%;
                    border-bottom: chocolate 3px solid;
                    width: 90%;
                    text-align: center;
                    margin-bottom: 0;
                }
            }
        }
    }
    ul{
        // width: 60%;
        grid-area: b;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 15vh;
        font-size: 18px;
        font-family: 'Heebo', sans-serif;
        font-weight: 500;
        color: #fff;
        text-transform: capitalize;
    }
    li{
        margin: 0;
        list-style: none;
    }
    .link{
        margin: 0;
        text-decoration: none;
        color: #fff;
    }
    img{
        position: absolute;
        top: 25%;
        left: 59.5%;
        width: 38%;
        opacity: 0.95;
        // opacity: 1;
    }
}
