body{
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #426264; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #13ee90; 

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #13ee90; 
  }